h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 60px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 30px;
}

text.sectionTitle {
    fill-opacity: .8;
    fill: gray !important;
}

text.taskTextOutside0,
text.taskTextOutside1 {
    fill: #636566 !important;
}

.tick line {
    stroke: gray;
    stroke-dasharray: 2, 5;
}

#fig-dual-25B-flowcell-2nd-analysis-bcl-convert-only-mermaid .milestone {
    fill: #009B2A !important;
    stroke: #009B2A !important;
}

.section1 {
    fill: #217842 !important;
}

.commonDir {
    color: lightgray;
}
